th.header {
  background-position: center right;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-right: 20px;
}

th.headerSortDown {
  background-image: url("/images/down.png");
}

th.headerSortUp {
  background-image: url("/images/up.png");
}

td.both {
  background-image: url("/images/both.png");
}

td.cat {
  background-image: url("/images/cat.png");
}

td.dog {
  background-image: url("/images/dog.png");
}
